*.class
# Config Files
.classpath
*.MF
*.project
.settings
.tern-project
.idea

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

checkstyle/
target/
*.iml
auditlog/
.idea/
.DS_Store
tmp.*

hs_err_pid*

